@font-face {
    font-family:'SFProDisplay-Regular';
    src: url("/fonts/SF-Pro-Display-Regular.woff") format("woff"),
    url("/fonts/SF-Pro-Display-Regular.woff2") format("woff2");

}

@font-face {
    font-family: 'SFProDisplay-Bold';
    src: url('/fonts/SF-Pro-Display-Bold.woff') format("woff"),
    url('/fonts/SF-Pro-Display-Regular.woff2') format("woff2")
}

@font-face {
    font-family:'Space-Age-Cyrillic-Regular';
    src: url('/fonts/spaceagecyrillic-regular.woff') format("woff");

}
// переменные по цветовой гамме
$primary-bg-color: #010203; 
$hover-text-color:#CB0E0E;
$primary-text-color:#FFFFFF;
$secondary-text-color:#036CCA;
$remarks-text-color:#E5E5E5;

*,
*::after,
*::before{
    box-sizing: border-box;
}

input {
    all:unset;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}

p, h1, h2,h3,h5, a {
    margin:0;
    padding: 0;
}

body {
    font-family:'SFProDisplay-Regular';
    // font-family:'Space-Age-Cyrillic-Regular';
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color:$primary-text-color;
    background-color:$primary-bg-color;  
}

.container {
    max-width: 1202px;
    margin: 0 auto;
    position:relative;
}
.header {
    background-image: url(../img/header_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    height: 1100px;
    
    &__inner {
    padding-top: 79px;
    align-items: center;
    // max-height: 1100px;
   
    }

    &__nav {
    display:flex;
    justify-content: space-between;
    }

    &__topic {
        max-width: 600px;
        margin-top: 303px;
        &-first{
        font-family:'Space-Age-Cyrillic-Regular';
        font-size: 60px;
        line-height: 60px;
        }
        &-second{
        font-family:'Space-Age-Cyrillic-Regular';
        font-size: 110px;
        line-height: 110px;
        font-weight: 600;
        margin-bottom: 20px;
        }


    }

    &__slogan {
        display: inline-block;
        font-size: 24px;
        line-height: 28px;
        margin-bottom: 49px;
        font-weight: 400;

    }
    &__slogan + &__slogan {
        padding-left: 40px;
    }

    &__btn {
        display:block;
        text-align: center;
        padding: 16px 136px;
        font-size: 24px;
        line-height: 28px;
        text-transform: uppercase;
        border: 1px solid $primary-text-color; 
        margin-bottom: 112px;
        
    }

    &__descr {
        //width: 381px;
        margin-left: 819px;
        margin-bottom: 142px;
        font-size: 14px;
        line-height: 17px;
        display: flex;
        justify-content: space-between;
        left:0;
    }
    &__text-elem {
        width: 165px;
    }
    &__text-elem +  &__text-elem {
        margin-left: 52px;
        
    }
}
.menu {
    
    
    &__list{
        display: flex;
        justify-content: space-between;
        width: 600px;
        padding-right: 22px;
        
        
        
    }
    &__item{
        font-size: 18px;
        line-height: 21px;
        text-transform: uppercase;
        font-style: normal;

    }
    &__link:hover {
        color: red;
        transition: all 0.3s;
    }

    &__logo {
        
        margin-left: 30px;
    }

    &__contact {
        display: flex;
        align-items: center;
        margin-right: 134px; 
        margin-left: 219px;
    }
    &__phone {
        font-size: 20px;
        
    }

}

.about {
    background-image: url('/img/about_bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    
    &__inner-title{
        padding: 100px 0;
        font-family:'Space-Age-Cyrillic-Regular';
        font-weight: 400;
        font-size: 48px;
        line-height: 48px;
    }
    &__block {
        display:flex;
        justify-content: space-between;
        padding-bottom: 150px;
            
    }
     &__block--second{
        display:flex;
        flex-direction: row-reverse;
        margin-bottom: 150px;
    }
    &__img {
        max-width: 500px;
        margin-right: 99px;
    }

    &__img--second {
        margin-left: 99px;
        max-width: 500px;
    }
    
    &__title {
        font-family: 'SFProDisplay-Bold';
        font-weight: 700;
        font-size: 30px;
        line-height: 36px;
        margin-bottom: 5px;
    }
    &__subtitle {
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        color:$secondary-text-color;
        text-transform: uppercase;
        margin-bottom: 31px;
        
    }
    &__column {
        display: grid; 
        grid-auto-flow: column;
        gap: 54px;
        margin-bottom: 50px;
    }
    &__list {
        display:flex;
        justify-content: space-between;
        margin-bottom: 50px;
        padding-bottom: 7px;
        border-top: 1px solid $primary-text-color;
        border-bottom: 1px solid $primary-text-color;
    }
    
    &__list-item {
        text-align: center;

    }
    &__list-item + &__list-item {
        padding-left: 30px;
    }
    &__list-title {
        display: inline-block;
        // margin: 10px 0 13px;
        padding: 10px 0;
        
    }
    &__list-num {
        font-family: 'SFProDisplay-Bold';
        display: block;
        margin-bottom: 1px;
        font-size: 36px;
        font-weight: 700;
        line-height: 43px;

   }
   &__list-measure {
    margin-bottom: 27px;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
   }
   &__order {
       font-family:'SFProDisplay-Regular';
       display:block;
       width:300px;
       border: 1px solid $primary-text-color;
       padding: 20px 43px;
       font-size: 18px;
       font-weight: 400;
       line-height: 21px;
       
   }

}

.plan {
    background-image: url(/img/plan_bg.png);
    background-position: center top;
    background-repeat: no-repeat;
    background-position: cover;
    &__title{
        font-family:'Space-Age-Cyrillic-Regular';
        max-width:578px;
        font-size: 48px;
        line-height: 48px;
        font-weight: 400;
        margin-bottom: 100px;
        padding-top: 100px;
    }
    &__scheme {
        max-width: 843px;
        text-align: center;
        padding-bottom:100px;
    }
}

.booking {

   background-image: url(/img/booking.png);
    background-position: center top;
    background-repeat: no-repeat;
    background-position: cover;
    height: 914px;
   
    &__inner{
        display:flex;
        justify-content: space-between;

    }
    &__title {
        font-family:'Space-Age-Cyrillic-Regular';
        max-width:576px;
        font-size: 48px;
        line-height: 48px;
        font-weight: 400;
        margin-right: 242px;

    }

    &__text{
        display: grid; 
        grid-auto-flow: column;
        gap: 54px;
        font-size: 14px;
        line-height: 17px;
        
    }
}

.offers {
    background-image: url("/img/offers__bg.png");
    background-position: center top;
    background-repeat: no-repeat;
    background-position: cover;
    &__inner {
        padding-bottom:100px;
    }

    &__line {
        display: flex;
        justify-content: space-between;
    }
    &__title {
        font-family:'Space-Age-Cyrillic-Regular';
        max-width: 476px;
        font-size: 48px;
        line-height: 48px;
        font-weight: 400;
        padding:100px 0;

    }

    &__column {
        max-width:500px;
       
    }
    &__item {
        border: 1px solid $primary-text-color;
        margin-bottom: 25px;

        &-text{
            font-size: 24px;
            line-height: 29px;
            text-align: center;
            padding:43px 132px 141px;
            height:400px;
        }
        &-price {
            font-size:48px;
            line-height: 57px;
            text-align: center;
            padding-bottom:38px;

            &-small {
                font-size:14px;
                line-height: 17px;
                padding-right: 75px;
                text-align: right;
                
            }

        }
        &-btn {
            display: block;
            width: 500px;
            margin-bottom: 49px;
            font-size:18px;
            line-height: 21px;
            text-transform: uppercase;
            padding-top: 20px;
            padding-bottom: 20px;
            text-align: center;
            border: 1px solid $primary-text-color;

        }
    }
    &__remark {
        font-size: 12px;
        line-height: 14px;
        font-weight: 400;
        color: $remarks-text-color;
    }

    &__additional {
        position: relative;
        
        &-inner {
            display:flex;
            justify-content: space-evenly;
            padding-bottom: 150px;
            
        }
        &-content {
            width: 600px;
            font-size: 24px;
            line-height: 28px;
            font-weight: 400;
            margin-right:100px;
        }
        &-ptoto{
            position: absolute;
            right: 0;
            top: 166px;
        }
        
        
    }
    &__text {
        padding-bottom: 25px;
    }
    &__list {
        padding-bottom: 25px;
        list-style-image: url(/img/dot.svg);
        &-item {
            padding-left: 16px;
        }
    }

    &__slider {
        border: 1px solid $primary-text-color;

    }
    &__img {
        width:800px;
        padding:100px 200px;

    }
    &__slogan {
        font-family:'Space-Age-Cyrillic-Regular';
        font-size: 24px;
        line-height: 30px;
        font-weight: 400;
        padding:50px 0 0px;
        text-align: center;

    }    

}
.slick__list {
    text-align: center;
}
.slick-prev slick-arrow {
    background-image: url(/img/Arrow_previous.svg);
}

.slick-next slick-arrow{
    background-image: url(/img/Arrow_next.svg);
  
}

.contacts{
    background-image: url(/img/contacts_bg.png);
    &__inner {
        display:flex;
        justify-content: space-between;
    }
    &__title {
        font-family:'Space-Age-Cyrillic-Regular';
        font-size: 48px;
        line-height: 48px;
        font-weight: 400;
        padding:100px 0 46px;
    }
    &__text {
        width: 600px;
        font-size: 24px;
        line-height: 29px;
        padding-bottom: 104px;

    }
    
    &__column {
        display: block;
        position: relative;
        
        
        &-first{
            width: 500px;
            margin-right: 100px;
            display: block;
           

        }
    }

    &__form {
        
        &-name {
        border-bottom: 1px solid $primary-text-color;
        display:block;
        width: 100%;
        margin-bottom: 62px;
        height: 27px;
        }

        &-name::placeholder {
            font-size: 14px;
            line-height: 16px;
            padding-bottom: 21px;
            align-items: center;
            color: $primary-text-color;
        }
        
    }

    &__btn {
        display:block;
        max-width: 500px;
        padding:20px 143px;
        font-size: 18px;
        line-height: 21px;
        border: 1px solid $primary-text-color;
        margin-bottom: 100px;
    }

    &__img {
        position: absolute;
        right: 0;
        bottom: 0;
        margin-bottom: 104px;
    }
}

.footer {
    background-image:url('/img/footer.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    
    
    &__inner {
        position:absolute;
        right:0;
        display:flex;
        justify-content: space-between;
        margin-top: 100px;

    }

    &__support {
        width: 165px;
        font-family: 'Roboto';
        font-size: 16px;
        line-height: 19px;
        margin-right: 54px;
    }
    &__support-text {
        padding-bottom: 48px;
    }

    &__menu {
        width: 115px;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        margin-right: 104px;
    }
    &__item {
        padding-bottom: 20px;
    }

    &__contacts {
        width: 166px;
        font-family: 'Roboto';
        font-size: 16px;
        line-height: 19px;
        text-transform: uppercase;

    }
   

}